@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen bg-[#060607] text-zinc-100 antialiased;
  }
}

.paper-texture {
  background-image: url('https://www.transparenttextures.com/patterns/paper-fibers.png');
}

html.dark .paper-texture {
  filter: invert(1) opacity(0.035);
}

html.dark {
  color-scheme: dark;
}
